{% extends '@SyliusShop/layout.html.twig' %}
{% block content %}
    {#    {% include '@SyliusShop/Product/Index/_header.html.twig' %}#}
    <div class="ui stackable grid">
        <div class="four wide column">
            {% set grid = calendars %}
            {% include '@SyliusUi/Grid/_default.html.twig' %}
        </div>
        <div class="twelve wide column">
            <div class="ui segment spaceless sylius-grid-table-wrapper">
                <div
                    id="calendar-holder"
                    data-events-get-url="{{ path('rob_air_sylius_calendar_shop_booking_load') }}"
                ></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendar', null, 'shop') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendar', null, 'shop') }}
{% endblock %}
